* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "SUSE";
  font-weight: bold;
  background-color: #111111;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 120px;
  background-color: #090909;
}

header h1 {
  font-size: 35px;
  font-family: "Press Start 2P";
  font-weight: bold;
}

.water {
  color: aqua;
  text-shadow: 0 0 3px aqua;
}

.earth {
  color: rgb(0, 255, 0);
  text-shadow: 0 0 3px rgb(0, 255, 0);
}

.fire {
  color: red;
  text-shadow: 0 0 3px red;
}
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.choose-weapon {
  font-size: 30px;
  margin-top: 40px;
}

.beat {
  font-size: 22px;
  margin-top: 5px;
}

.decision-container {
  margin-top: 40px;
  display: flex;
  gap: 100px;
}

.score-box {
  text-align: center;
}

#sign {
  font-size: 80px;
  margin-bottom: 30px;
  text-shadow: 0 0 3px white;
}

.score-box p {
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-container button {
  padding: 50px;
  background-color: #201f1f;
  border: none;
  border-radius: 10px;
}

.button-container button:hover {
  background-color: #2e2c2c;
  transition: all 0.1s ease-in-out;
}

.button-container button:active {
  box-shadow: 0 0 5px white;
}

#water-icon {
  width: 42px;
}

#water-icon, 
#fire-icon {
  font-size: 50px;
}

#earth-icon {
  font-size: 42px;
}