* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "SUSE";
  font-weight: bold;
  background-color: #111111;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 120px;
  background-color: #090909;
}

header h1 {
  font-size: 35px;
  font-family: "Press Start 2P";
  font-weight: bold;
}

.water {
  color: aqua;
  text-shadow: 0 0 3px aqua;
}

.earth {
  color: rgb(0, 255, 0);
  text-shadow: 0 0 3px rgb(0, 255, 0);
}

.fire {
  color: red;
  text-shadow: 0 0 3px red;
}
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.choose-weapon {
  font-size: 30px;
  margin-top: 40px;
}

.beat {
  font-size: 22px;
  margin-top: 5px;
}

.decision-container {
  margin-top: 40px;
  display: flex;
  gap: 100px;
}

.score-box {
  text-align: center;
}

#player-sign,
#com-sign {
  font-size: 80px;
  margin-bottom: 30px;
  text-shadow: 0 0 3px white;
}

.score-box p {
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-container button {
  padding: 50px;
  background-color: #201f1f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #2e2c2c;
  transition: all 0.1s ease-in-out;
}

.button-container button:active {
  box-shadow: 0 0 5px white;
}

#water-icon {
  width: 42px;
}

#water-icon, 
#fire-icon {
  font-size: 50px;
}

#earth-icon {
  font-size: 42px;
}

footer {
  height: 70px;
  background-color: #090909;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer p {
  font-size: 20px;
}

.fa-github {
  color: white;
  font-size: 25px;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(-360deg) scale(1.2);
}

.popup {
  width:300px;
  background-color: #090909;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 60px 0px;
  visibility: hidden;
  transition: transform 0.3s, top 0.3s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.condition {
  font-size: 35px;
  margin-bottom: 35px;
}

.restart-btn {
  width: 80%;
  padding: 15px 0px 15px;
  background-color: #111111;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "SUSE";
  font-weight: bold;
}

.restart-btn:hover {
  background-color: #201f1f;
  transition: all 0.1s ease-in-out;
}